body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }

  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;

  }
  
  .box {
    height: 100px;
    width: 100px;
    background-color: orange;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    font-size: large;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  
  .myTitle {
    align-items: center;
    justify-content: center;
    font-size: large;
    color: white;
    display:flex;
  }

  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  a {
    display: block;
    text-decoration: none;
    color: black;
  }
  
  .box img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  